<a href="https://colab.research.google.com/github/mazq-ux/MODUL-PRAKTIKUM-BASIS-DATA/blob/main/pertemuan_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


---

# BAB 2 – Review Bahasa SQL (DDL, DML, Query, dan Struktur Basis Data)

Versi Super Lengkap (Setara Modul)

---

## 1. Pendahuluan

Bab 2 merupakan lanjutan dari proses desain basis data setelah konversi ERD menjadi tabel relasi pada Bab 1. Jika Bab 1 berfokus pada pembuatan skema logis, maka Bab 2 membahas **bahasa SQL** sebagai alat implementasi skema tersebut ke dalam sistem manajemen basis data (DBMS).

SQL (Structured Query Language) adalah bahasa standar internasional untuk:

1. Mendefinisikan struktur basis data (DDL)
2. Mengelola isi data (DML)
3. Mengatur hak akses (DCL)
4. Mengendalikan transaksi (TCL)
5. Mengambil informasi (SELECT / Query)

Modul Bab 2 mengajarkan SQL level dasar-menengah, terutama:

* Membuat database dan tabel
* Mengatur atribut dan tipe data
* Menambah, mengubah, dan menghapus data
* Query dengan kondisi
* Join tabel
* Penggunaan constraint
* Latihan implementasi dari skema relasi apotek

Semua yang ada di modul akan saya rangkum dengan **bahasa yang lengkap dan terstruktur**.

---

# 2. Struktur Dasar SQL

SQL dibagi menjadi beberapa bagian besar:

1. DDL – Data Definition Language
   Mengelola struktur (membuat, mengubah, menghapus tabel).

2. DML – Data Manipulation Language
   Mengelola isi data (INSERT, UPDATE, DELETE).

3. DQL – Data Query Language
   Mengambil data (SELECT).

4. DCL – Data Control Language
   Hak akses pengguna (GRANT, REVOKE).

5. TCL – Transaction Control Language
   Mengatur transaksi data (COMMIT, ROLLBACK).

Modul ini fokus pada DDL, DML, dan query dasar.

---

# 3. Data Definition Language (DDL)

DDL digunakan untuk membuat struktur basis data seperti:

* Database
* Tabel
* Indeks
* Primary Key
* Foreign Key
* Constraint

---

## 3.1 CREATE DATABASE

Digunakan untuk membuat database baru.

```
CREATE DATABASE apotek;
```

Menggunakan database:

```
USE apotek;
```

---

## 3.2 CREATE TABLE

Perintah penting untuk membuat tabel sesuai skema relasi Bab 1.

Struktur dasar:

```
CREATE TABLE nama_tabel (
    nama_kolom tipe_data constraint,
    ...
    PRIMARY KEY (...),
    FOREIGN KEY (...) REFERENCES tabel_lain(kolom)
);
```

Contoh berdasarkan modul:

```
CREATE TABLE kategori (
    kd_kategori CHAR(3) PRIMARY KEY,
    nama_kategori VARCHAR(40) NOT NULL
);
```

Tabel Obat:

```
CREATE TABLE obat (
    kd_obat CHAR(5) PRIMARY KEY,
    nama_obat VARCHAR(40),
    harga INT,
    stok INT,
    kd_kategori CHAR(3),
    FOREIGN KEY (kd_kategori) REFERENCES kategori(kd_kategori)
);
```

Penjelasan:

* `CHAR(3)` untuk kode tetap panjang 3
* `VARCHAR` untuk teks dinamis
* `INT` untuk angka
* `PRIMARY KEY` untuk identifikasi unik
* `FOREIGN KEY` untuk keterkaitan antar tabel

---

## 3.3 ALTER TABLE

Mengubah struktur tabel:

### Menambah kolom:

```
ALTER TABLE obat ADD satuan VARCHAR(10);
```

### Menghapus kolom:

```
ALTER TABLE obat DROP COLUMN satuan;
```

### Mengubah tipe data:

```
ALTER TABLE obat MODIFY harga DECIMAL(10,2);
```

### Menambah constraint:

```
ALTER TABLE obat ADD CONSTRAINT fk_kategori
FOREIGN KEY (kd_kategori) REFERENCES kategori(kd_kategori);
```

---

## 3.4 DROP TABLE

Menghapus tabel beserta seluruh data:

```
DROP TABLE obat;
```

---

## 3.5 TRUNCATE TABLE

Menghapus seluruh isi data tanpa menghapus tabel:

```
TRUNCATE TABLE obat;
```

---

# 4. Data Manipulation Language (DML)

DML mengatur data dalam tabel.

---

## 4.1 INSERT

Menambah data ke tabel.

Format:

```
INSERT INTO nama_tabel (kolom1, kolom2) VALUES (nilai1, nilai2);
```

Contoh dari modul:

```
INSERT INTO kategori VALUES ('K01', 'Analgesik');
```

Contoh lebih lengkap:

```
INSERT INTO obat VALUES
('OB001', 'Paracetamol', 5000, 200, 'K01'),
('OB002', 'Amoxicillin', 8000, 150, 'K02');
```

---

## 4.2 UPDATE

Mengubah data:

```
UPDATE obat SET harga = 9000 WHERE kd_obat = 'OB002';
```

Update banyak kolom:

```
UPDATE obat SET harga = 12000, stok = 300
WHERE kd_obat = 'OB001';
```

---

## 4.3 DELETE

Menghapus baris data:

```
DELETE FROM obat WHERE kd_obat = 'OB001';
```

Menghapus semua baris tanpa menghapus tabel:

```
DELETE FROM obat;
```

---

# 5. Data Query Language (DQL)

SELECT digunakan untuk mengambil data.
Ini bagian paling sering digunakan mahasiswa.

---

## 5.1 SELECT Dasar

Menampilkan semua kolom:

```
SELECT * FROM obat;
```

Menampilkan kolom tertentu:

```
SELECT nama_obat, harga FROM obat;
```

---

## 5.2 SELECT dengan WHERE

Filter data berdasarkan kondisi:

```
SELECT * FROM obat WHERE harga > 10000;
```

Operasi lain:

* =
* !=
* >
* <
* BETWEEN
* LIKE

Contoh LIKE:

```
SELECT * FROM obat WHERE nama_obat LIKE '%mol%';
```

---

## 5.3 ORDER BY

Mengurutkan data:

```
SELECT * FROM obat ORDER BY harga ASC;
SELECT * FROM obat ORDER BY harga DESC;
```

---

## 5.4 GROUP BY dan HAVING

Untuk data teragregasi.

Contoh menghitung stok per kategori:

```
SELECT kd_kategori, SUM(stok)
FROM obat
GROUP BY kd_kategori;
```

Contoh menggunakan HAVING:

```
SELECT kd_kategori, SUM(stok)
FROM obat
GROUP BY kd_kategori
HAVING SUM(stok) > 500;
```

---

# 6. JOIN

JOIN digunakan untuk menggabungkan tabel yang memiliki hubungan foreign key.

---

## 6.1 INNER JOIN

Tampilkan data obat lengkap dengan nama kategori:

```
SELECT obat.nama_obat, kategori.nama_kategori
FROM obat
JOIN kategori
ON obat.kd_kategori = kategori.kd_kategori;
```

---

## 6.2 LEFT JOIN

Tampilkan semua obat, meskipun tanpa kategori:

```
SELECT * FROM obat
LEFT JOIN kategori ON obat.kd_kategori = kategori.kd_kategori;
```

---

## 6.3 RIGHT JOIN

Kebalikan dari LEFT JOIN.

---

# 7. Constraint SQL

Constraint menjaga konsistensi data. Modul menjelaskan:

1. PRIMARY KEY
2. FOREIGN KEY
3. UNIQUE
4. NOT NULL
5. DEFAULT
6. CHECK

Contoh:

```
CHECK (harga > 0)
```

Contoh DEFAULT:

```
stok INT DEFAULT 0
```

---

# 8. Implementasi Skema Relasi Apotek ke SQL

Modul memberikan implementasi seluruh 13 tabel hasil Bab 1 dengan lengkap.

Contoh tabel transaksi:

```
CREATE TABLE transaksi (
    id_transaksi CHAR(5) PRIMARY KEY,
    tgl_transaksi DATE,
    no_pasien CHAR(5),
    id_pegawai CHAR(5),
    FOREIGN KEY (no_pasien) REFERENCES pasien(no_pasien),
    FOREIGN KEY (id_pegawai) REFERENCES pegawai(id_pegawai)
);
```

Contoh detail transaksi (relasi N:M):

```
CREATE TABLE detail_transaksi (
    id_transaksi CHAR(5),
    kd_obat CHAR(5),
    jumlah INT,
    subtotal INT,
    PRIMARY KEY (id_transaksi, kd_obat),
    FOREIGN KEY (id_transaksi) REFERENCES transaksi(id_transaksi),
    FOREIGN KEY (kd_obat) REFERENCES obat(kd_obat)
);
```

Modul menyertakan seluruh tabel lainnya seperti pasien, resep, pegawai, retur, pembayaran.

---

# 9. Latihan Bab 2

Mahasiswa diminta:

1. Membuat seluruh tabel berdasarkan skema relasi Bab 1
2. Menyisipkan minimal 10 data per tabel
3. Membuat query sederhana hingga menengah
4. Melakukan join 2-3 tabel
5. Menggunakan perintah UPDATE dan DELETE
6. Membuat laporan menggunakan GROUP BY
7. Menguji foreign key dengan memasukkan data yang tidak valid

Latihan ini bertujuan menguatkan pemahaman sebelum masuk ke Bab 3.

---

# 10. Kesimpulan Bab 2

Bab 2 mengajarkan dasar-dasar SQL yang menjadi inti praktikum basis data. Setelah menyelesaikan Bab 2, mahasiswa diharapkan mampu:

* Membangun database sesuai skema
* Membuat tabel menggunakan CREATE TABLE
* Menambah dan memodifikasi data menggunakan DML
* Mengambil informasi menggunakan SELECT
* Menggabungkan data menggunakan JOIN
* Mengimplementasikan constraint
* Menjalankan database apotek hasil desain Bab 1

Bab 2 adalah langkah pertama menuju pemrograman basis data tingkat lanjut di bab berikutnya.

---