<a href="https://colab.research.google.com/github/mazq-ux/MODUL-PRAKTIKUM-BASIS-DATA/blob/main/pertemuan_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


TEST AWAL
Tuliskan pada kertas jawaban pertanyaan dibawah ini. Dengan tulisan tangan, jangan lupa NIM,
Nama , kelas.
1. Bagaimana cara memasukan data ke table, beri contoh !
2. Bagaimana cara menghapus data dari table, beri contoh !




## 1.

**Jawaban:**

Untuk memasukkan data ke dalam tabel digunakan perintah **INSERT INTO**.

###  (mengisi semua kolom sesuai urutan tabel):

```sql
INSERT INTO pelanggan VALUES
(1, 'Ahmad', 'Jl. Melati 10', 'Bandung');
```

###  (menyebutkan kolom tertentu):

```sql
INSERT INTO barang (id_barang, nama_barang, harga)
VALUES (101, 'Pulpen', 5000);
```



## 2.

**Jawaban:**

Untuk menghapus data dari tabel digunakan perintah **DELETE FROM**.

### (menghapus data tertentu dengan WHERE):

```sql
DELETE FROM pelanggan
WHERE id_pelanggan = 3;
```

###  (menghapus seluruh data dalam tabel)

```sql
DELETE FROM barang;
```






---

# **BAB 5 — Data Manipulation Language (DML)**

BAB 5 membahas serangkaian perintah SQL yang digunakan untuk mengelola data yang tersimpan di dalam tabel. Tidak seperti DDL yang berfokus pada struktur database, DML digunakan untuk memanipulasi isi tabel, seperti menambah, mengubah, menghapus, dan menampilkan data. Bab ini menjadi dasar dalam mempraktikkan pengolahan data sehari-hari pada sistem basis data.

Pembahasan dalam bab ini mencakup:

---

## **1. Konsep Data Manipulation Language (DML)**

DML merupakan kumpulan perintah SQL yang dipakai untuk memodifikasi dan mengakses data. DML tidak mempengaruhi struktur tabel, melainkan isi dari tabel. Perintah DML menjadi inti dari operasional database karena data dapat berubah seiring kebutuhan sistem.

Perintah utama dalam DML adalah:

* **INSERT** — Menambahkan data ke dalam tabel.
* **UPDATE** — Memperbarui isi data pada baris tertentu.
* **DELETE** — Menghapus data dari tabel.
* **SELECT** — Mengambil dan menampilkan data dari tabel.

---

## **2. Perintah INSERT**








###  INSERT dengan seluruh nilai

Digunakan tanpa menyebut nama kolom, urutan nilai harus sesuai dengan struktur tabel.

```sql
INSERT INTO pelanggan VALUES
(1, 'Ahmad', 'Jl. Melati 10', 'Bandung');
```

###  INSERT dengan menyebut nama kolom

Digunakan ketika tidak semua kolom diisi atau ketika ingin menyesuaikan urutan data.

```sql
INSERT INTO barang (id_barang, nama_barang, harga)
VALUES (101, 'Pulpen', 5000);
```







Modul juga menekankan bahwa pemilihan nilai harus sesuai tipe data.

---

## **3. Perintah UPDATE**

Digunakan untuk mengubah data dalam tabel. Modul menekankan pentingnya penggunaan **WHERE** untuk membatasi baris yang diperbarui.

### **Contoh UPDATE dengan WHERE**

```sql
UPDATE pelanggan
SET kota = 'Jakarta'
WHERE id_pelanggan = 1;
```

### **UPDATE tanpa WHERE (berbahaya)**

Modul menjelaskan bahwa ini akan mengubah seluruh baris:

```sql
UPDATE barang
SET harga = 10000;
```

Digunakan hanya jika memang diperlukan untuk mengubah semua data.

---

## **4. Perintah DELETE**

Digunakan untuk menghapus data dari tabel.

### **DELETE dengan WHERE**

```sql
DELETE FROM pelanggan
WHERE id_pelanggan = 3;
```

### **DELETE tanpa WHERE**

Modul juga menjelaskan bahwa ini menghapus seluruh baris dalam tabel:

```sql
DELETE FROM barang;
```

Namun struktur tabel tetap ada.

---

## **5. Perintah SELECT**

SELECT adalah perintah yang paling sering digunakan, karena diperlukan untuk menampilkan, mencari, dan membaca data.

Modul membahas berbagai bentuk SELECT:

### **5.1 Menampilkan seluruh kolom**

```sql
SELECT * FROM pelanggan;
```

### **5.2 Menampilkan kolom tertentu**

```sql
SELECT nama, kota FROM pelanggan;
```

### **5.3 Menggunakan alias**

```sql
SELECT nama AS NamaPelanggan, kota AS KotaAsal
FROM pelanggan;
```

### **5.4 SELECT dengan WHERE**

```sql
SELECT * FROM barang
WHERE harga > 5000;
```

### **5.5 SELECT dengan operator logika**

```sql
SELECT * FROM pelanggan
WHERE kota = 'Bandung' OR kota = 'Jakarta';
```

Modul juga memberi contoh dengan operator perbandingan (=, <, >, <=, >=).

---

## **6. Format Penulisan DML yang Tepat**

Modul menekankan aturan penting seperti:

* Nilai teks harus menggunakan tanda kutip `'...'`
* INSERT harus sesuai urutan kolom jika tidak mencantumkan nama kolom
* Penggunaan WHERE sangat penting pada UPDATE dan DELETE
* SELECT dapat digabung dengan fungsi agregasi pada bab berikutnya
---

## **Kesimpulan BAB 5**

BAB 5 memperkenalkan konsep dasar manipulasi data menggunakan perintah DML: **INSERT, UPDATE, DELETE, dan SELECT**. DML menjadi fondasi utama dalam pengelolaan data pada sistem basis data. Bab ini memberikan pemahaman praktis melalui studi kasus *order entry* untuk memudahkan penerapan perintah DML pada situasi nyata. Materi di BAB 5 juga menjadi dasar sebelum mempelajari query lanjutan seperti fungsi agregasi, subquery, dan join mendalam pada bab berikutnya.

---




---